
.container {
    background: linear-gradient(120deg, lightblue, white);
    height: 100vh;
    width: 100vw;
    padding-top: 5rem;
}

.cal-container {
  border-radius: 1rem;
  background-color: lightslategray;
  border: 1px solid lightslategrey;
  align-content: center;
  max-width: 500px;
  margin: auto auto auto auto;
}

.cal-container__form {
  height: 300px;
  max-width: 670px;
  margin: auto;
  /* padding: 0.5rem 0.5rem 0.5rem 0.5rem; */
  background-color: linen;

}
